name: bubble
description: A Flutter widget for chat like a speech bubble in Whatsapp and others.
version: 1.1.8+2
author: Victor Dunaev <victor.dunaev@gmail.com>
homepage: https://github.com/vi-k/bubble

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
